<div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
                <div class="top-left-part"><a class="logo" href="login.html"><b><img width="48" height="48" src="images/hospital.png" alt="home" /></b><span class="hidden-xs"><strong>Digital</strong>Pulz</span></a></div>
                <ul class="nav navbar-top-links navbar-left hidden-xs">
                    <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-envelope"></i>
          <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
          </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">You have 1 notification</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> <img src="images/User-48.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>Asiri Medicals</h5> <span class="mail-desc">Drug Supply Completed</span> <span class="time">4:45 PM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Left navbar-header -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse slimscrollsidebar">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                        <!-- input-group -->
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                        <!-- /input-group -->
                    </li>
                    <li class="nav-small-cap m-t-10">--- Drug Management</li>
                    <li> <a href="#!addDrugs" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Add Drugs</span></a> </li>
                    <li> <a href="#!viewDrugs" class="waves-effect"><i class="ti-heart-broken p-r-10"></i> <span class="hide-menu">View Drugs</li>
                    <li class="nav-small-cap m-t-10">--- Supplier Management</li>
                    <li> <a href="#!addSupplier" class="waves-effect"><i class="ti-plus p-r-10"></i> <span class="hide-menu">Add Supplier</span></a> </li>
                    <li> <a href="#!updateSupplier" class="waves-effect"><i class="ti-pencil p-r-10"></i> <span class="hide-menu">Update Supplier</span></a> </li>
                    <li class="nav-small-cap m-t-10">--- Stock Management</li>
                    <li> <a href="#!viewDrugRequests" class="waves-effect"><i class="ti-user p-r-10"></i> <span class="hide-menu">View Drug Requests</span></a> </li>
                    <li> <a href="#!viewDrugStock" class="waves-effect"><i class="ti-user p-r-10"></i> <span class="hide-menu">View Drug Stock</span></a> </li>
                    <li> <a href="#!addDrugBatch" class="waves-effect"><i class="ti-save-alt p-r-10"></i> <span class="hide-menu">Add Drug Batch</span></a> </li>
                </ul>
            </div>
        </div>
        <!-- Left navbar-header end -->
        <!-- End of Navigation -->

    <div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">View Drug Requests</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="index.html">Stock Management</a></li>
                    <li class="active">View Drug Requests</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <h3 class="box-title">View Drug Requests by Pharmacists</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Requested User</th>
                                <th>Requested Drug</th>
                                <th>Requested Quantity</th>
                                <th>Request Operations</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="drugRequest in drugRequests">
                                <td>{{ drugRequest.requestedUser }}</td>
                                <td>{{ drugRequest.requestedDrug.drug_name }}</td>
                                <td>{{ drugRequest.requestedQuantity }}</td>
                                <td>
                                    <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-click="forwardRequest(drugRequest)">Forward To Supplier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Forward Request To Supplier</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <p>Following Drug Suppliers are able to Provide Your Request : </p>
                            <select class="form-control" id="sel1" ng-model="request.assignedSuppier" required>
                                    <option value="" disabled selected>Select Drug Supplier</option>
                                    <option value="{{supplier.supplier_id}}" ng-repeat="supplier in drugSuppliers">{{ supplier.supplier_name }}</option>
                                </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendRequest(supplier.supplier_id)">Send Request</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
        </div>
    </div>







