<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top m-b-0">
        <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
            <div class="top-left-part"><a class="logo" href="login.html"><b><img width="48" height="48" src="images/hospital.png" alt="home" /></b><span class="hidden-xs"><strong>Digital</strong>Pulz</span></a></div>
            <ul class="nav navbar-top-links navbar-left hidden-xs">
                <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>
            </ul>
            <ul class="nav navbar-top-links navbar-right pull-right">
                <li class="dropdown"> <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"><i class="icon-envelope"></i>
          <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
          </a>
                    <ul class="dropdown-menu mailbox animated bounceInDown">
                        <li>
                            <div class="drop-title">You have 1 notification</div>
                        </li>
                        <li>
                            <div class="message-center">
                                <a href="#">
                                    <div class="user-img"> <img src="images/User-48.png" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span>                                        </div>
                                    <div class="mail-contnet">
                                        <h5>Asiri Medicals</h5> <span class="mail-desc">Drug Supply Completed</span> <span class="time">4:45 PM</span>                                        </div>
                                </a>
                            </div>
                        </li>
                        <li>
                            <a class="text-center" href="javascript:void(0);"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="right-side-toggle"> <a class="waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                <!-- /.dropdown -->
            </ul>
        </div>
        <!-- /.navbar-header -->
        <!-- /.navbar-top-links -->
        <!-- /.navbar-static-side -->
    </nav>
    <!-- Left navbar-header -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse slimscrollsidebar">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                    <!-- input-group -->
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..."> <span class="input-group-btn">
            <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
            </span> </div>
                    <!-- /input-group -->
                </li>
                <li class="nav-small-cap m-t-10">--- Drug Management</li>
                <li> <a href="#!addDrugs" class="waves-effect"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Add Drugs</span></a>                    </li>
                <li> <a href="#!viewDrugs" class="waves-effect"><i class="ti-heart-broken p-r-10"></i> <span class="hide-menu">View Drugs</li>
                    <li class="nav-small-cap m-t-10">--- Supplier Management</li>
                    <li> <a href="#!addSupplier" class="waves-effect"><i class="ti-plus p-r-10"></i> <span class="hide-menu">Add Supplier</span></a>                    </li>
                <li> <a href="#!updateSupplier" class="waves-effect"><i class="ti-pencil p-r-10"></i> <span class="hide-menu">Update Supplier</span></a>                    </li>
                <li class="nav-small-cap m-t-10">--- Stock Management</li>
                <li> <a href="#!viewDrugRequests" class="waves-effect"><i class="ti-user p-r-10"></i> <span class="hide-menu">View Drug Requests</span></a>                    </li>
                <li> <a href="#!viewDrugStock" class="waves-effect"><i class="ti-user p-r-10"></i> <span class="hide-menu">View Drug Stock</span></a>                    </li>
                <li> <a href="#!addDrugBatch" class="waves-effect"><i class="ti-save-alt p-r-10"></i> <span class="hide-menu">Add Drug Batch</span></a>                    </li>
            </ul>
        </div>
    </div>
    <!-- Left navbar-header end -->
    <!-- End of Navigation -->

    <<div id="page-wrapper">
        <div class="container-fluid">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">View & Update Drug</h4>
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Drug Management</a></li>
                        <li class="active">View Drug</li>
                    </ol>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="white-box">
                        <h3 class="box-title">View Drug</h3>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Drug Name</th>
                                    <th>Drug Price</th>
                                    <th>Drug Reorder Level</th>
                                    <th>Drug Danger Level</th>
                                    <th>Drug Operations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="drug in drugs">
                                    <td>{{ drug.drug_name }}</td>
                                    <td>{{ drug.drug_price }}</td>
                                    <td>{{ drug.drug_reorderlevel }}</td>
                                    <td>{{ drug.drug_dangerlevel }}</td>
                                    <td>
                                        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary" ng-click="loadUpdateData(drug)">Edit Drug</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Drug</h4>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <p>Following Information Can Be Updated : </p>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-12">Drug Price</label>
                                <div class="col-md-12">
                                    <input type="text" id="example-text3" ng-model="selectedDrug.drug_price" name="drugprice" class="form-control" placeholder="Enter Drug Price" ng-pattern="/^[0-9]{1,100}$/">                                    
                                    <div ng-messages="addDrugForm.drugprice.$error" ng-if="addDrugForm.drugprice.$dirty">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="pattern">Must be a Number</div>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-12">Drug Reorder Level</label>
                                <div class="col-md-12">
                                    <input type="text" id="example-text3" ng-model="selectedDrug.drug_reorderlevel" name="drugprice" class="form-control" placeholder="Enter Drug Price" ng-pattern="/^[0-9]{1,100}$/">                                    
                                    <div ng-messages="addDrugForm.drugprice.$error" ng-if="addDrugForm.drugprice.$dirty">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="pattern">Must be a Number</div>
                                    </div>
                                </div>
                        </div>
                        <div class="form-group">
                                <label class="col-sm-12">Drug Danger Level</label>
                                <div class="col-md-12">
                                    <input type="text" id="example-text3" ng-model="selectedDrug.drug_dangerlevel" name="drugprice" class="form-control" placeholder="Enter Drug Price" ng-pattern="/^[0-9]{1,100}$/">                                    
                                    <div ng-messages="addDrugForm.drugprice.$error" ng-if="addDrugForm.drugprice.$dirty">
                                        <div ng-message="required">This field is required</div>
                                        <div ng-message="pattern">Must be a Number</div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateDrug()">Update Drug</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="deleteDrug()">Delete Drug</button>
                    </div>
                </div>

            </div>
        </div>

</div>
</div>
</div>